<footer id="footer2" data-scroll-index="6">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="useful-link">
                    <h2>Useful Links</h2>
                    <img src="" alt="" class="img-fluid">
                    <div class="use-links">
                        <li><a href="#" data-scroll-nav="0"><i class="fa-solid fa-angles-right"></i> Home</a></li>
                        <li><a href="#" data-scroll-nav="1"><i class="fa-solid fa-angles-right"></i> Services</a></li>
                        <li><a href="#" data-scroll-nav="2"><i class="fa-solid fa-angles-right"></i> Portfolio</a></li>
                        <li><a href="#" data-scroll-index="6"><i class="fa-solid fa-angles-right"></i> Contact</a></li>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="social-links">
                    <h2>Follow Us</h2>
                    <img src="" alt="">
                    <div class="social-icons">
                        <li><a href="#"><i class="fa-brands fa-facebook-f"></i> Facebook</a></li>
                        <li><a href="#"><i class="fa-brands fa-instagram"></i> Instagram</a></li>
                        <li><a href="#"><i class="fa-brands fa-linkedin-in"></i> Linkedin</a></li>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="address">
                    <h2>Address</h2>
                    <img src="" alt="" class="img-fluid">
                    <div class="address-links">
                        <li class="address"><i class="fa-solid fa-location-dot" style="color: #4267B2;"></i> Terry House, 3rd Floor, Room 135, Mfangano Street</li>
                        <li><a href="#"><i class="fa-solid fa-phone"></i> +254 729 054 961 or +254 792 858 462</a></li>
                        <li><a href="#"><i class="fa-solid fa-envelope"></i> info@wixagraphics.co.ke</a></li>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
