<!DOCTYPE html>
 <html lang="zxx">

    
<!-- Mirrored from ui-themez.smartinnovates.net/items/khatwa/slider.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 22 Aug 2024 08:27:14 GMT -->
<head>

    	<!-- Metas -->
        <meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
		<meta name="keywords" content="Wixa Graphics" />
		<meta name="description" content="Wixa Graphics Design Company Nairobi, best in branding" />
		<meta name="author" content="" />

		<!-- Title  -->
		<title>Wixa Grahics</title>

		<!-- Favicon -->
		<link rel="shortcut icon" href="../img/favicon.png" />

		<!-- Google Fonts -->
        <!-- <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,700" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Raleway:300,400,500,600,700,800" rel="stylesheet"> -->

		<!-- Plugins -->
	<link rel="stylesheet" href="css/plugins.css" /> 
        <!-- Core Style Css -->
    <link rel="stylesheet" href="css/style-gold.css" /> 

    </head>

    <body>

    	<!-- =====================================
    	==== Start Loading -->

    	<!-- <div class="loading">
            <div class="gooey">
              <span class="dot"></span>
              <div class="dots">
                <span></span>
                <span></span>
                <span></span>
              </div>
            </div>
        </div> -->
        
    	<!-- End Loading ====
    	======================================= -->

       
    	<!-- =====================================
    	==== Start Navbar -->

		<nav class="navbar navbar-expand-lg">
			<div class="container">
			
            <!-- Logo -->
            <a class="logo" href="/">
                <img src="img/logo.png" alt="logo">          
            </a>
 <!-- Phone number for small screens -->
 <div class="phone-numbers d-lg-none">
	<p class="mb-0">Call us: +254 729 054 961</p>
</div>

			  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			    <span class="icon-bar"><i class="fas fa-bars"></i></span>
			  </button>

			  <!-- navbar links -->
			  <div class="collapse navbar-collapse" id="navbarSupportedContent">
				
			    <ul class="navbar-nav ml-auto">
			      <li class="nav-item">
			        <a class="nav-link active" href="/" data-scroll-nav="0">Home</a>
			      </li>
			      <li class="nav-item">
                    <a class="nav-link" href="/" data-scroll-nav="1">Services</a>
                  </li>
			      <li class="nav-item">
			        <a class="nav-link" href="#" data-scroll-nav="2">Portfolio</a>
			      </li>
                  <!-- <li class="nav-item">
                    <a class="nav-link" href="#" data-scroll-nav="3">About</a>
                  </li> -->
			      <!-- <li class="nav-item">
			        <a class="nav-link" href="#" data-scroll-nav="4">Price</a>
			      </li> -->
			      <!-- <li class="nav-item">
			        <a class="nav-link" href="#" data-scroll-nav="5">Blog</a>
			      </li> -->
			      <li class="nav-item">
			        <a class="nav-link" href="#" data-scroll-nav="6">Contact</a>
			      </li>
			    </ul>

			  </div>
			   <!-- Phone number for large screens -->
			   <div class="phone-numbers d-none d-lg-block ml-3">
				<p class="mb-0">Call us: +254 729 054 961</p>
			</div>
			</div>

			
		</nav>
       