<section class="portfolio section-padding" data-scroll-index="2">
    <div class="container">
        <div class="row">

            <div class="section-head text-center col-lg-8 col-md-10 offset-md-1 offset-lg-2">
                <h6>Our Works</h6>
                <h4>Our Portfolio</h4>
                <p>Nulla metus metus ullamcorper vel tincidunt sed euismod nibh<br> Quisque volutpat condime.</p>
            </div>

        </div>
    </div>

    <div class="container-fluid">
        <div class="row">
            <!-- filter links -->
            <div class="filtering text-center full-width">
                <div class="filter">
                    <span data-filter='*' class="active">All</span>
                    <span data-filter='.brand'>Brand</span>
                    <span data-filter='.web'>Design</span>
                    <span data-filter='.graphic'>Graphic</span>
                </div>
            </div>

            <!-- gallery -->
            <div class="gallery full-width">

                 <!-- gallery item -->
                 <div class="items brand">
                    <div class="item-img">
                        <img src="img/portfolio/8.jpeg" alt="image">
                        <div class="item-img-overlay">
                            <div class="overlay-info full-width">
                                <p>Logo | Branding</p>
                                <h6>Creative Web Design</h6>
                                <a href="img/portfolio/8.jpeg" class="popimg">
                                    <span class="icon"><i class="fas fa-long-arrow-alt-right"></i></span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                 <!-- gallery item -->
                 <div class="items brand">
                    <div class="item-img">
                        <img src="img/portfolio/9.jpeg" alt="image">
                        <div class="item-img-overlay">
                            <div class="overlay-info full-width">
                                <p>Logo | Branding</p>
                                <h6>Creative Web Design</h6>
                                <a href="img/portfolio/9.jpeg" class="popimg">
                                    <span class="icon"><i class="fas fa-long-arrow-alt-right"></i></span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
<!-- gallery item -->
                <div class="items brand">
                    <div class="item-img">
                        <img src="img/portfolio/HOODIES.jpeg" alt="HOODIES  branding">
                        <div class="item-img-overlay">
                            <div class="overlay-info full-width">
                                <p>HOODIES | Branding</p>
                                <h6>HOODIES Branding</h6>
                                <a href="img/portfolio/HOODIES.jpeg" class="popimg">
                                    <span class="icon"><i class="fas fa-long-arrow-alt-right"></i></span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>


                 <!-- gallery item -->
                 <div class="items brand">
                    <div class="item-img">
                        <img src="img/portfolio/10.jpeg" alt="image">
                        <div class="item-img-overlay">
                            <div class="overlay-info full-width">
                                <p>Logo | Branding</p>
                                <h6>Creative Web Design</h6>
                                <a href="img/portfolio/10.jpeg" class="popimg">
                                    <span class="icon"><i class="fas fa-long-arrow-alt-right"></i></span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- gallery item -->
                <div class="items web">
                    <div class="item-img">
                        <img src="img/portfolio/2.jpeg" alt="image">
                        <div class="item-img-overlay">
                            <div class="overlay-info full-width">
                                <p>Logo | Branding</p>
                                <h6>Creative Web Design</h6>
                                <a href="img/portfolio/2.jpeg" class="popimg">
                                    <span class="icon"><i class="fas fa-long-arrow-alt-right"></i></span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- gallery item -->
                <div class="items brand">
                    <div class="item-img">
                        <img src="img/portfolio/3.jpeg" alt="image">
                        <div class="item-img-overlay">
                            <div class="overlay-info full-width">
                                <p>Logo | Branding</p>
                                <h6>Creative Web Design</h6>
                                <a href="img/portfolio/3.jpeg" class="popimg">
                                    <span class="icon"><i class="fas fa-long-arrow-alt-right"></i></span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- gallery item -->
                <div class="items graphic">
                    <div class="item-img">
                        <img src="img/portfolio/ROLL_UP_BANNERS.jpeg" alt="image">
                        <div class="item-img-overlay">
                            <div class="overlay-info full-width">
                                <p>Graphic | Branding</p>

                                <p> <h6>ROLL UP BANNERS</h6><br?>
                                    As a marketing tool roll up/retractable banners are an important part. You need your banners designed with care, passion and elegance.
We help you come up with a design, we design it, print it and help you set it up

                                </p>
                                <a href="img/portfolio/ROLL_UP_BANNERS.jpg" class="popimg">
                                    <span class="icon"><i class="fas fa-long-arrow-alt-right"></i></span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- gallery item -->
                <div class="items web">
                    <div class="item-img">
                        <img src="img/portfolio/5.jpeg" alt="image">
                        <div class="item-img-overlay">
                            <div class="overlay-info full-width">
                                <p>Logo | Branding</p>
                                <h6>Creative Web Design</h6>
                                <a href="img/portfolio/5.jpeg" class="popimg">
                                    <span class="icon"><i class="fas fa-long-arrow-alt-right"></i></span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- gallery item -->
                <div class="items brand">
                    <div class="item-img">
                        <img src="img/portfolio/REFLECTS_VESTS.jpeg" alt="image">
                        <div class="item-img-overlay">
                            <div class="overlay-info full-width">
                                <p>Branding</p>
                                <p>
                                    <h6>REFLECTS VESTS</h6>
                                    Enhance your safety and visibility with high quality reflective vest. These reflective vests are designed to ensure maximum visibility in low-light condition for workers in industries such as cyclists, construction sites and workshops, road maintenance and security.

Don’t be just seen, be seen in your brand as a brand 

                                </p>
                                <a href="img/portfolio/REFLECTS_VESTS.jpeg" class="popimg">
                                    <span class="icon"><i class="fas fa-long-arrow-alt-right"></i></span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- gallery item -->
                <div class="items graphic">
                    <div class="item-img">
                        <img src="img/portfolio/FEATHER_BANNERS AND_TEAR_DROPS.jpeg" alt="FEATHER BANNERS AND TEAR DROPS">
                        <div class="item-img-overlay">
                            <div class="overlay-info full-width">
                                <p>Logo | Branding</p>
                                <p>
                                    <h6>FEATHER BANNERS AND TEAR DROPS</h6>
                                    Tear drop banners and feather banners are a dynamic way of advertising. They allow you to convey your message and sell your brand in settings such as events, car dealerships and outdoor festivals. 

Our tear drops and feather banners are made of white polyester fabric, suitable for both indoor and outdoor use.
We use dye sublimation to maximize ink infusion into the fabric making them weather proof and UV resistant.

                                </p>
                                <a href="img/portfolio/FEATHER_BANNERS AND_TEAR_DROPS.jpeg" class="popimg">
                                    <span class="icon"><i class="fas fa-long-arrow-alt-right"></i></span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>