<section class="hero section-padding" data-scroll-index="1">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2 col-md-10 offset-md-1">
                <div class="intro text-center mb-80">
                    <h6>Who we are?</h6>
                    <h5>Build flexible, design-driven Graphics with ease.</h5>
                    <p>Wixa Graphics Limited is not just a company, it's a vibrant hub of creativity and innovation, a
                        registered entity under the laws of Kenya taking pride in our dynamic approach to graphic design,
                        branding solutions, digital printing and online services.</p>
                </div>
            </div>

            <div class="col-lg-3 mb-4">
                <div class="item mb-md50">
                    <i class="fas fa-briefcase icon"></i>
                    <h5><span></span> Corporate Branding </h5>
                    <!-- <p>We specialize in creating
                        comprehensive corporate
                        branding solutions that
                        encompass logo design, brand
                        identity development and
                        brand guidelines to ensure
                        consistency across all brand
                        touchpoints.</p> -->
                        <a href="/corporate-branding" class="learn-more">Learn More</a> <!-- Learn More button -->
                </div>
               

            </div>

            <div class="col-lg-3">
                <div class="item mb-md50">
                    <i class="fas fa-paint-brush icon"></i> 
                    <h5><span></span>Graphic Design Services</h5>
                    <!-- <p>With a team of highly motivated and innovative graphic designers, we help you create the most unique, eye catching yet simple and memorable designs from logo, letterheads, and profiles, logo redesigning and other vectors.
                        Good designs can be the difference. Your companies’ visual communication serves a lot of purpose, making your business unique is one of them.
                        </p> -->
                        <a href="/graphic-design" class="learn-more">Learn More</a> <!-- Learn More button -->

                </div>
            </div>

            <div class="col-lg-3">
                <div class="item">
                    <i class="fas fa-print icon"></i>
                    <h5><span></span>Digital &
                        Bulk Printing</h5>
                    <!-- <p>We do high-quality digital and
                        bulk printing services for a
                        wide range of materials,
                        including business cards,
                        brochures, flyers, and banners,
                        ensuring crisp and vibrant
                        prints that leave a lasting
                        impression.</p> -->
                        <a href="/bulk-printing" class="learn-more">Learn More</a>
                </div>
            </div>

            
            <div class="col-lg-3">
                <div class="item">
                    <i class="fas fa-id-card icon"></i>
                    <h5><span></span>Business
                        Cards</h5>
                    <!-- <p>We design professional and
                        memorable business cards
                        that reflect our clients' brand
                        identity and provide essential
                        contact information.</p> -->
                        <a href="/business-cards-design-and-printing" class="learn-more">Learn More</a>

                </div>
            </div>
            
            
            <div class="col-lg-3">
                <div class="item">
                    <i class="fas fa-flag icon"></i>
                    <h5><span></span>Banners</h5>
                    <!-- <p>We design custom
                        banners for both indoor
                        and outdoor use,
                        helping businesses
                        attract attention, convey
                        messages,
                        and promote events or
                        special offers effectively.</p> -->
                        <a href="/banners-design-and-printing" class="learn-more">Learn More</a>

                </div>
            </div>
            <div class="col-lg-3">
                <div class="item">
                    <i class="fas fa-book-open icon"></i>
                    <h5><span></span>Catalogues & Menus</h5>
                    <!-- <p>
                        WIXA GRAPHICS LTD
                        Our catalogue design
                        services enable business to
                        showcase their products or
                        services effectively, providing
                        detailed information in an
                        engaging and visually
                        appealing format to drive
                        sales and conversion</p> -->
                        <a href="/catalogues-menu-design-and-printing" class="learn-more">Learn More</a>

                </div>
            </div>




            <div class="col-lg-3">
                <div class="item">
                    <i class="fas fa-newspaper icon"></i>
                    <h5><span></span>Publication &
                        Magazine </h5>
                    <!-- <p>
                        Our publication and
                        magazine design services
                        cover layout design,
                        typography, and graphics,
                        creating visually stunning
                        publications that engage
                        readers and convey
                        content effectively.</p> -->
                        <a href="/publication-magazine-design-and-printing" class="learn-more">Learn More</a>

                </div>
            </div>  <div class="col-lg-3">
                <div class="item">
                    <i class="fas fa-bullhorn icon"></i>
                    <h5><span></span>Advertisement
                        Materials</h5>
                    <!-- <p>We don’t just make your designs look pretty, we effectively make them persuasive and enticing. When creating a marketing plan, you want its implementation equally done perfectly.
                        For all your marketing materials such as Brochure’s, posters, pamphlets, flyers or leaflets we design them in such that we compel clients to take a look. You can trust we will proudly deliver excellent designs.
                        </p> -->
                        <a href="/marketing-material-design-and-printing" class="learn-more">Learn More</a>

                </div>
            </div>
        </div>
    </div>
</section>