<section class="features bg-img bg-fixed" data-scroll-index="1" data-overlay-dark="5" data-background="img/bg2.jpeg"></section>
    <div class="container-fluid ontop">
        <div class="row">
            <div class="col-lg-6 valign hide-md">
                <div class="video full-width text-center half-padding">
                    <a class="vid" href="https://vimeo.com/127203262">
                        <span class="vid-butn">
                            <img src="img/icons/play-button-light.svg" style="width: 100px" alt="">
                        </span>
                    </a>
                </div>
            </div>
            <div class="col-lg-6 feat half-padding" data-overlay-dark="5">
                <div class="ontop">
                    <h4 class="sp-head">We Are a Cutting-Edge Graphic Design Studio</h4>
                    <div class="item mb-40">
                        <span class="icon"><i class="icofont-responsive"></i></span>
                        <div class="cont">
                            <h6>Responsive and High-Resolution Designs</h6>
                            <p>Experience the perfect blend of aesthetics and functionality. Our designs are fully responsive, ensuring they look stunning on any device, with crystal-clear, retina-ready visuals.</p>
                        </div>
                    </div>
                    <!-- Add more items here -->
                </div>
            </div>
        </div>
    </div>
</section>