


<%- include('../nav') %>

<!-- Hero Section -->
<section class="hero-section">
  <div class="overlay"></div> 
  <div class="container">
    <div class="row justify-content-center text-center">
      <div class="col-lg-8">
        <h1 class="hero-title">Corporate Branding</h1>
      </div>
    </div>
  </div>
</section>



<!-- Services Section -->
<section class="Creative gap">
  <div class="container">
    <div class="row">
      <!-- Left Content -->
      <div class="col-lg-7 col-md-7" data-aos="fade-down" data-aos-delay="400" data-aos-duration="600">
        <div class="Creativ">
          <h3 class="custom-heading">T-Shirt Branding</h3>
          <p>Branded polo t-shirts round necks , t-shirts of all kinds and of high quality and ideal for office wear, workshops, corporate wear, sports, security, uniforms and promotional events
            We use the latest terminology such as using printing and no – cut printing
            We customize them to fit your preferences. May it be at your workplace, at events or anywhere, always wearing your brand identity.
            </p>
        
        </div>
      </div>

      <!-- Right Image -->
      <!-- <div class="col-lg-2 col-md-2">
        <div class="img-ser" data-aos="fade-down" data-aos-delay="200" data-aos-duration="400">
          <img alt="service" src="img/Services-5.png">
        </div>
      </div> -->

      <!-- Additional Right Image -->
      <div class="col-lg-5 col-md-5">
        <div class="dream-img" data-aos="fade-down" data-aos-delay="600" data-aos-duration="800">
          <img alt="men see girl" src="img/portfolio/tshirt.png">
        </div>
      </div>
    </div>
  </div>


<!-- New Alternating Section -->
<section class="Creative gap">
  <div class="container">
    <div class="row">
      <!-- Left Image -->
      <div class="col-lg-5 col-md-5">
        <div class="dream-img" data-aos="fade-up" data-aos-delay="400" data-aos-duration="600">
          <img alt="design inspiration" src="img/portfolio/mugs.png">
         
        </div>
      </div>

      <!-- Right Content -->
      <div class="col-lg-7 col-md-7" data-aos="fade-up" data-aos-delay="600" data-aos-duration="800">
        <div class="Creativ">
          <h3 class="custom-heading">Mugs/ Water bottles/ thermal mugs </h3>
          <p>If you want to gift a loved one for any occasion such as birthdays, valentines, anniversary or any other occasion then you may choose any kind from a wide range of mugs, water bottles, thermal mugs as they are an excellent gift giveaway options.
            We imprint your tailored wordings, photos, logos, tents and many more to any item you choose using a cutting edge technology like UV printing, Laser engraving and sublimation printing.
            We make them incredible so that you can relish, re-live every moment. We make them memorable.
            </p>
        
        </div>
      </div>
    </div>
  </div>
</section>



<!-- Services Section -->
<section class="Creative gap">
  <div class="container">
    <div class="row">
      <!-- Left Content -->
      <div class="col-lg-7 col-md-7" data-aos="fade-down" data-aos-delay="400" data-aos-duration="600">
        <div class="Creativ">
          <h3 class="custom-heading">Hoodies</h3>
          <p>We customize hoodies to feel stylish, unique and give you the sense of ownership. You can imprint your brand logo, name photo or custom design making them ideal for events, as gift give a ways, corporate wear and daily wear.
            Let’s make you pop in style and help promote your brand or business.
            
            </p>
        
        </div>
      </div>

      <!-- Right Image -->
      <!-- <div class="col-lg-2 col-md-2">
        <div class="img-ser" data-aos="fade-down" data-aos-delay="200" data-aos-duration="400">
          <img alt="service" src="img/Services-5.png">
        </div>
      </div> -->

      <!-- Additional Right Image -->
      <div class="col-lg-5 col-md-5">
        <div class="dream-img" data-aos="fade-down" data-aos-delay="600" data-aos-duration="800">
          <img alt="men see girl" src="img/portfolio/HOODIES-Branding.png">
        </div>
      </div>
    </div>
  </div>
  <%- include('../footer') %>
s